<div class="cont">
    <div class="left" ngClass.lt-sm="leftph">
        <div class="header" ngClass.lt-sm="header1ph">
            <div class="logo">
                <img src="../../assets/logotipo/part1_logo_2.png" style="width: 50%; height: auto;">
                <img src="../../assets/logotipo/part2_logo_2.png" style="width: 50%; height: auto;">
            </div>
            <div class="title_logo">SYSCOMPSA S.A</div>
        </div>
        <div class="mcoint">
            <img class="image" src="../../../assets/maintenance_vector.png">
            <div class="sombre"></div>
            <div class="sombre2"></div>
        </div>
    </div>
    <div class="rigth" ngClass.lt-sm="rigthph">
        <div class="header2" style="display: none;" ngClass.lt-sm="headerph">
            <div class="logo">
                <img src="../../assets/logotipo/part1_logo.png" style="width: 50%; height: auto;">
                <img src="../../assets/logotipo/part2_logo.png" style="width: 50%; height: auto;">
            </div>
            <div class="title_logo" style="color: white;">SYSCOMPSA S.A</div>
        </div>
        <div class="context">
            <div class="text3" ngClass.lt-sm="text3ph">{{date | date: 'medium'}}</div>
            <div class="text2" ngClass.lt-sm="text2ph" >SE ESTA REALIZANDO</div>
            <div class="text1" ngClass.lt-sm="text1ph">MANTENIMIENTO</div>
        </div>
    </div>
</div>